* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #020202;
}

.box {
    background-color: rgb(214, 109, 109);
    margin-bottom: 2%;
}

/* FONTS */
h1, h2, h3, h4, a, p, img, figcaption, label, thead {
    color: white;
}

h1, h2, h3, thead, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

h3, thead {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

a, p, figcaption, label, select, tbody {
    font-family: "Merriweather", sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
}

select {
    text-align: center;
    width: 20%;
}

thead, tbody {
    text-align: center;
    width: 5%;
}

thead {
    background-color: #404040;
}

tbody {
    background-color: white;
    border-radius: 2px;
    border-color: black;
}

td {
    padding: 1rem;
}

/* TOP NAVIGATION */
.top_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    margin: 0 4%;
}

.menu_text {
    padding: 10px;
    margin: 0 20px;
    transition: 0.3s;
}

.menu_text:hover {
    color: bisque;
    cursor: pointer;
}

.log_out_box {
    display: flex;
}

.user_box {
    display: flex;
    justify-content: space-between;
}

#log_out {
    font-weight: 800;
}

/* SIDE NAVIGATION */
.side_nav {
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 25%;
    padding: 1%;
    background-color: #404040;
    z-index: 2;
    transform: translateX(-100%);
    overflow-x: hidden;
    transition: 0.3s;
}

.is_open {
    transform: translateX(0%);
}

.form_row {
    margin-bottom: 20px;
}

.payment_form {
    display: none;
}

/*  BALANCE BOX */
#balance_box {
    display: flex;
    justify-content: space-between;
    padding: 5vh;
}

/* ERROR MESSAGE */
#error_message {
    display: flex;
    justify-content: center;
}

/* TOTAL BALANCE DISPLAY */
.btn {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 250px;
    height: 100px;
}

#account_btn {
    background-color: skyblue;
}

#number {
    font-size: 80px;
}

/* ACCOUNT BOX */
#account_box {
    display: flex;
    justify-content: center;
}


/* ACCOUNTS FORM */
.account_form {
    margin: auto;
    width: 50%;
}

.header_box {
    margin: 3% 0;
}

.form_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px 0;
}

input {
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    color: black;

    padding: 16px;
}

.select_box {
    display: flex;
    justify-content: center;
    width: 100%;
}

#submit {
    background-color: cadetblue;
}